// Body
$body-bg: #000000;
$body-color: #ffffff;

$main-bg: $body-bg;
$bmd-nav-tabs-pills-link-padding: 0.5rem 1rem;

// Typography
$font-family-sans-serif: 'Montserrat', sans-serif;
 $font-size-base: 0.8rem;
// $line-height-base: 1.6;

// Colors
$blue: #3788D8;
$cyan: #156084;
$green: #08BD99;
$purple: #C9A0DC;
$yellow: #FBEC5D;
$lime: #D3F86A;

$indigo: #6574cd;
$pink: #f66d9b;
$red: #e3342f;
$orange: #EB6F2D;
$teal: #4dc0b5;


$primary: #2C2D84;
$secondary: #E95616;

$dark: #4F6069;
$grey: #85969D;

//$border-radius: 0;

$navbar-padding-y: 35px;

$progress-bg:                       $dark;
$progress-border-radius:            100px;
$enable-reduced-motion:             false;